@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f2f2f2;
}

.heading{
    font-size: 25px;
    font-weight: bolder;
position: relative;
}
.heading span{
    display: block;
    width: 300px;
    z-index: 10;

}
.heading::after{
    position: absolute;
    content: '';
    height: 1px ;
    width: calc(100% - 300px);
    border: 1px solid #e0e0e0;
    top: calc(50% - 0.5px);
    /* left: 0; */
    z-index: 1;

    right: 0;
}

@media screen and (max-width: 720px) {
.categoryDiv{
    width: 100%;
}
.categoryimg{
    width: 48px;
    height: 48px;

}
.categoryName{
    width: 60px;
    height: max-content;
    font-size: 12px;
    font-weight: lighter;
}
    .category{
        width: 64px ;
        height: 70px;
    }
    .navToggleBtn {
        display: block;
    }

    .navbar ul {
        position: fixed;
        top: 95px;
        right: -100%;
        width: 50%;
        height: 90vh;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #fff;
        transition: all 0.9s ease;
        padding-top: 20px;
        z-index: 9999;
    }

    .navbar ul li {
        margin-bottom: 30px;
    }

    .navbar ul.active {
        right: 0%;
        margin-right: 0px;
    }
    .top-header{
        display: none;
    }
}