@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f2f2f2;
}
.scrolling-text-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-text {
    display: inline-block;
    animation: scroll 10s linear infinite;
}
@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
.moving-text{
    white-space: nowrap;
    width: 300px;
    text-align:initial;
    animation: move 10s linear infinite;
}
@keyframes move {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-100%,0);
    }
}
.heading{
    font-size: 25px;
    font-weight: bolder;
position: relative;
/* background-color: red; */
}

.heading::after{
    position: absolute;
    content: '';
    height: 1px ;
    width: 80%;
    border: 1px solid #e0e0e0;
    top: calc(50% - 0.5px);
    /* left: 0; */
    right: 0;
}
@media screen and (max-width: 720px) {

    .navToggleBtn {
        display: block;
    }

    .navbar ul {
        position: fixed;
        top: 64px;
        right: -100%;
        width: 40%;
        height: 90vh;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #2b2c2c;
        transition: all 0.9s ease;
        padding-top: 20px;
    }

    .navbar ul li {
        margin-bottom: 30px;
    }

    .navbar ul.active {
        right: 0%;
        margin-right: 0px;
    }
}