@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f2f2f2;
}
.dropDown{
    left: 50%;
    transform: translate(-50%);
}


@media screen and (max-width: 770px) {
    .mylogo{
        z-index: 9;
    }.navBarLinks{
        display: none;
    }
    .productName{
        font-size: 16px;
    }
    .disPrice{
        font-size: 13px;
    }
.categoryDiv{
    width: 98%;
padding-top: 10px;
}
.cartdiv{
    width: 95%;
}
.seacrhdiv{
    width: 50%;
    margin: 0px;
}
.seacrhdiv>input{
    font-size: normal;
}
.categorysearchBtn>button{
    padding: 8px 6px;
    
}

.searchBtn {
    width: max-content;
}
.categoryimg{
    width: 57px;
    height: 57px;

}
.categoryName{
    width: 90px;
    height: 40px;
    font-size: 12px;
    font-weight: normal;
}
.productCard{
    width: 170px;
}
    .category{
        width: 64px ;
        height: 70px;
    }
    .navToggleBtn {
        display: block;
    }

    .navbar ul {
        position: fixed;
        top: 95px;
        right: -100%;
        width: 50%;
        height: 90vh;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #fff;
        transition: all 0.9s ease;
        padding-top: 20px;
        z-index: 9999;
    }

    .navbar ul li {
        margin-bottom: 30px;
    }

    .navbar ul.active {
        right: 0%;
        margin-right: 0px;
    }
    .top-header{
        display: none;
    }
}